NEXT_PUBLIC_SUPABASE_URL=https://zbwkhnpbytdlzkpmywsc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpid2tobnBieXRkbHprcG15d3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzOTQ4ODQsImV4cCI6MjA4ODk3MDg4NH0.oC0lzGBS46rsVKFXiM9qi36XDwKPRX1UCYaNvkkX6wU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpid2tobnBieXRkbHprcG15d3NjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM5NDg4NCwiZXhwIjoyMDg4OTcwODg0fQ.gxDvkAVz71CAD-YP7roNRJrIpx5l12W5ME61SPhz8kU
